/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway_thin-webfont.eot');
    src: url('fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway_thin-webfont.woff') format('woff'),
         url('fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('fonts/raleway_thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/bower_components/font-awesome/font/fontawesome-webfont.eot?v=3.2.1');
  src: url('/bower_components/font-awesome/font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('/bower_components/font-awesome/font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('/bower_components/font-awesome/font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('/bower_components/font-awesome/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** VARIABLES */

@margin-horizontal: 20px;
@footer-height: 50px;

@color-1: #dddddd;

@scrollbar-width: 10px;


/** FUNCTIONS */

.user-select(@select) {
     user-select: @select;
     -webkit-user-select: @select;
     -moz-user-select: @select;
     -ms-user-select: @select;
}

/** BEGIN */

html {
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
    font-weight: 200;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: @color-1;
    padding: 0 @margin-horizontal;
    z-index: 1000;

    nav {
        position: absolute;
        /*
        right: @margin-horizontal;
        */
        right: 200px;
        top: 0px;

        & > div {
            display: inline-block;
        }
    }
}

section {
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: @color-1;
    padding: 0 @margin-horizontal;
    height: @footer-height;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: ralewaythin, helvetica, arial, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

.icon {
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 0.5em;
}

.section-header {
    h3 {
        display: inline-block;
    }
    .icon {
        font-size: 1.3em;
    }
}

.section-body {
    height: 100%;
}

.dragging {
    opacity: 0.5;
}

.drag-over {
    background: #666;
}

/** LIST */
#elements-list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;

    .list-title {
        text-align: right;
        cursor: pointer;
        clear: both;
        h5 {
            float: left;
        }
    }

    .list {
        position: relative;
        font-size: 0.9em;
        clear: both;

        .list-header {
            position: relative;
            border-bottom: 1px solid @color-1;
        }

        .list-body {
            position: absolute;
            top: 30px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: block;
            overflow-y: scroll;
        }
        
        li {
            display: block;
            position: relative;
            color: #aaa;
            cursor: pointer;
            padding: 5px 0px;

            &.selected, &.selected:hover {
                color: #fff;
                background-color: #666;
            }

            &.selected-secondary {
                color: #666;
            }

            &:hover {
                color: #fff;
                background-color: #999;
            }
        }

        li, .list-header {
            width: 100%;
            & > div {
                display: inline-block;
                vertical-align: middle;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    
    #list-events {
        li, .list-header {
            & > div {
                &:nth-child(1) {
                    width: 46%;
                }
                &:nth-child(2) {
                    width: 25%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
            }
        }
    }
    
    #list-types {
        li, .list-header {
            & > div {
                &:first-child {
                    font-family: 'FontAwesome';
                    width: 30px;
                    text-align: center;
                }
            }
        }
    }
    
    #list-aspects {
        li, .list-header {
            & > div {
                &:nth-child(1) {
                    font-family: 'FontAwesome';
                    width: 50px;
                    text-align: center;
                }

                &:nth-child(2) {
                    font-family: 'FontAwesome';
                    width: 50px;
                    text-align: center;
                    display: none;
                }
            }
        }
        
        li:hover, li.selected {
            & > div {
                &:nth-child(1) {
                    display:none;
                }
                &:nth-child(2) {
                    display: inline-block;
                }
            }
        }
    }
}

.sortable {
    cursor: pointer;
    i {
        margin-left: 1em;
        display: none;
    }
    
    &.asc {
        i.icon-caret-up {
            display: inline-block;
        }
    }

    &.desc {
        i.icon-caret-down {
            display: inline-block;
        }
    }
}





/** */

.edit-screen {
    position: absolute;
    top: 0;
    width:75%;
    bottom: 0;
    right: 0;
}

.edit-sub-elements {
    &.ui-accordion {
        /*width: 50%;
        min-width: 600px;*/
    }
    .ui-accordion-header {
        background-color: @color-1;
    }
    /**.ui-accordion-header-active*/
}

#upper-container {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 40%;
}

#timeline {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: @footer-height;
}


.dropdown-toggle {
    cursor: pointer;

    &:hover {
        & > span {
            visibility: visible;
        }
    }

    & > span {
        visibility: hidden;
    }
}

.dropdown {
    &.open {
        .dropdown-toggle {
            & > span {
                visibility: visible;
            }
        }
    }
}

.dropdown-submenu {
    position:relative;

    & > .dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
    }

    &:hover {
        & > .dropdown-menu {
            display:block;
        }

        & > a {
            &:after {
                border-left-color:#ffffff;
            }
        }
    }

    & > a {
        &:after {
            display:block;
            content:" ";
            float:right;
            width:0;
            height:0;
            border-color:transparent;
            border-style:solid;
            border-width:5px 0 5px 5px;
            border-left-color:#cccccc;
            margin-top:5px;
            margin-right:-10px;
         }
    }
 }


.timeline-drag-grab {
    cursor: move;
}

.timeline-event {
    height: 30px;
    position: absolute;
    .user-select(none);
    cursor: pointer;



    &:hover {
        .timeline-event-bar-cover {
            display: none;
        }
    }

    &.selected {
        .timeline-event-bar-cover {
            display: none;
        }
    }

    &.selected-secondary {
        .timeline-event-bar-cover {
            opacity: 0.5;
        }
    }
}

.timeline-event-title {
}

.timeline-event-guide-left {
    position: absolute;
    top: 0px;
    bottom: 0px;
    border-right: 1px dotted #999;
    display:none;
    opacity: 0.9;
    .user-select(none);
}

.timeline-event-guide-right {
    position: absolute;
    top: 0px;
    bottom: 0px;
    border-left: 1px dotted #999;
    display:none;
    opacity: 0.9;
    .user-select(none);
}

.timeline-event-guide-label {
    font-size: 0.7em;
    background-color: #999;
    color: #fff;
    white-space: nowrap;
    padding: 0.5em;
    .user-select(none);
}

.timeline-event-bar {
    height: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.timeline-event-bar-cover {
    height: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.timeline-event-bar-drag-left {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #000000;
    left: 0px;
    cursor: w-resize;
}

.timeline-event-bar-drag-right {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #000000;
    right: 0px;
    cursor: e-resize;
}

.timeline-event-drag {
    cursor: col-resize;
}

.tick {
    position: absolute;
    z-index: 4;
    bottom: 0px;
    height: 30px;
    background-color: #aaaaaa;
    border-right: 1px solid #fff;
    .user-select(none);
    text-align: center;
}

.sub-tick {
    position: absolute;
    bottom: 0px;
    height: 1em;
    border-left: 1px solid #fff;
    font-size: 0.8em;

    &:first-child {
        border-left: none;
    }

}

/* ************************************************************** */
/* CUSTOM WEBKIT SCROLLBAR */
/* ************************************************************** */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-border-radius: 2px;
    border-radius: 2px;*/
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 2px;
    border-radius: 2px;*/
    background: #999;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

/** END WEBKIT SCROLLBAR */


/* ************************************************************** */
/* OVERRIDES */
/* ************************************************************** */

.container {
    max-width: none;
}

.ui-widget-content {
    background-color: #ffffff;
}

.AnyTime-pkr * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
