<section id="edit-event" class="edit-screen" ng-controller="EditEventCtrl">
    <div class="section-header">
        <h3>{{event.name}}</h3>
    </div>
    <yg-drop-target yg-drop-callback="addAspect" data-yg-drop-accept=".aspect" class="section-body">
        <label for="start">Start</label>
        <input type="text" name="start" id="start" ng-model="event.start"/>

        <label for="end">End</label>
        <input type="text" name="end" id="end" ng-model="event.end"/>

        <label for="description">Description</label>
        <textarea name="description" id="description" ng-model="event.description"></textarea>

        <div id="edit-event-aspects" class="edit-sub-elements">
            <div ng-repeat="aspect in event.getAspects()" class="edit-sub-element">
                <div class="edit-sub-element-header">
                    <h5>{{aspect.global.name}}</h5>
                </div>
                <div class="edit-sub-element-body">
                    balloon
                </div>
            </div>
        </div>
    </yg-drop-target>
</section>