<section id="edit-type" class="edit-screen" ng-controller="EditTypeCtrl">

    <div class="section-header">
        <div class="icon" ng-bind-html-unsafe="type.icon"></div>
        <h3>{{type.name}}</h3>
    </div>

    <div class="section-body">
        <div ng-repeat="field in type.fields">
            <label for="field-name-{{$index}}">Field</label>
            <input type="text" id="field-name-{{$index}}" yg-model="field.name" yg-model-element="field" />

            <label for="field-type-{{$index}}">Field Type</label>
            <select id="field-type-{{$index}}" ng-model="field.type" ng-options="fieldType for fieldType in type.getFieldTypes()"></select>

            <label for="default-text-{{$index}}">Default</label>
            <input type="text" id="default-text-{{$index}}" yg-model="field.defaultValue" yg-model-element="field" />

            <button ng-click="deleteField(field)">x</button>
        </div>
        
        <button ng-click="addField()">+</button>
    </div>

</section>