<section id="edit-event" class="edit-screen" ng-controller="EditEventCtrl">
    <div class="section-header">
        <h3>{{event.name}}</h3>
    </div>
    <yg-drop-target yg-drop-callback="addAspect" data-yg-drop-accept=".aspect" class="section-body">
        <label for="start">Start</label>
        <input type="text" name="start" id="start" yg-model="event.start" yg-model-element="event" />

        <label for="end">End</label>
        <input type="text" name="end" id="end" yg-model="event.end" yg-model-element="event"/>

        <label for="description">Description</label>
        <textarea name="description" id="description" yg-model="event.description" yg-model-element="event"></textarea>

        <div id="edit-event-aspects" class="edit-sub-elements" yg-accordion yg-accordion-header=".edit-sub-element-header">
            <div ng-repeat="aspect in event.getAspects()" class="edit-sub-element">
                <div class="edit-sub-element-header">
                    <h5>{{aspect.name}}</h5>
                </div>
                <div class="edit-sub-element-body">
                    balloon
                    {{event.getLocalAspectById(aspect.id).name}}
                </div>
            </div>
        </div>
    </yg-drop-target>
</section>