<section id="edit-aspect" class="edit-screen" ng-controller="EditAspectCtrl">

    <div class="section-header">
        <div class="icon" ng-bind-html-unsafe="aspect.getType().icon" ng-style="{'color': '#' + aspect.color}"></div>
        <h3 ng-show="!editName" ng-click="toggleEditName()">{{aspect.name}}</h3>
        <h3 ng-show="editName"><input type="text" ng-blur="toggleEditName()" name="aspect-name" id="aspect-name" yg-model="aspect.name" yg-model-element="aspect"/></h3>
    </div>

    <yg-drop-target yg-drop-callback="addEvent" data-yg-drop-accept=".event" class="section-body">
        <div ng-repeat="event in aspect.getEvents()">
            {{event.name}}
        </div>

        <label for="aspect-type">Type</label>
        <div class="btn-group" id="aspect-type">
            <button type="button" class="btn"><span class="icon" ng-bind-html-unsafe="aspect.getType().icon"></span> {{aspect.getType().name}}</button>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="type in getTypes()"><a href="javascript:void(0);" ng-click="setType(type)"><span style="font-family:fontawesome;" ng-bind-html-unsafe="type.icon"></span> {{type.name}}</a></li>
            </ul>
        </div>

        <label for="colorpicker">Color</label>
        <input id="colorpicker" type="hidden" yg-model="aspect.color" yg-model-element="aspect" />

        <div ng-repeat="field in aspect.getType().fields">
            <label for="{{getFieldId(field)}}">{{field.name}}</label>
            <ng-switch on="field.type">
                <input ng-switch-when="text" type="text" ng-model="aspect[getFieldId(field)]" id="{{getFieldId(field)}}" name="{{getFieldId(field)}}" placeholder="{{field.defaultValue}}" />
                <textarea ng-switch-when="textarea" type="text" ng-model="aspect[getFieldId(field)]" id="{{getFieldId(field)}}" name="{{getFieldId(field)}}" placeholder="{{field.defaultValue}}" />
                <input ng-switch-when="number" type="number" ng-model="aspect[getFieldId(field)]" id="{{getFieldId(field)}}" name="{{getFieldId(field)}}" placeholder="{{field.defaultValue}}" />
                <yg-date ng-switch-when="date" ng-model="aspect[getFieldId(field)]" id="{{getFieldId(field)}}" name="{{getFieldId(field)}}"></yg-date>
                <yg-datetime ng-switch-when="datetime" ng-model="aspect[getFieldId(field)]" id="{{getFieldId(field)}}" name="{{getFieldId(field)}}"></yg-datetime>
            </ng-switch>
        </div>
    </yg-drop-target>
</section>