<section id="edit-event" class="edit-screen" ng-controller="EditEventCtrl">
    <div class="section-header">
        <h3>{{event.name}}</h3>
    </div>
    <yg-drop-target yg-drop-callback="addAspect" data-yg-drop-accept=".aspect" class="section-body">
        <label for="start">Start</label>
        <input type="text" name="start" id="start" yg-model="event.start" yg-model-element="event" />

        <label for="end">End</label>
        <input type="text" name="end" id="end" yg-model="event.end" yg-model-element="event"/>

        <label for="description">Description</label>
        <textarea name="description" id="description" yg-model="event.description" yg-model-element="event"></textarea>

        <div id="edit-event-aspects" class="edit-sub-elements" yg-accordion yg-accordion-header=".edit-sub-element-header" yg-accordion-refresh="refresh">
            <div ng-repeat="aspect in event.getAspects()" class="edit-sub-element">
                <div class="edit-sub-element-header">
                    <h5>{{aspect.name}}</h5>
                </div>
                <div class="edit-sub-element-body">
                    <div ng-repeat="field in aspect.getType().fields">
                        <label for="{{getFieldId(aspect, field)}}">{{field.name}}</label>

                        <ng-switch on="field.type">

                            <div ng-switch-when="text">
                                <input type="text" yg-local-aspect-model="getLocalAspectField(aspect, field)" yg-local-aspect-model-field-id="getFieldId(aspect,field)" yg-local-aspect-model-element="getLocalAspect(aspect)" id="{{getFieldId(aspect, field)}}" name="{{getFieldId(aspect, field)}}" placeholder="{{field.defaultValue}}" />
                                ({{aspect.getFieldValue(getFieldId(aspect,field))}})
                            </div>

                            <textarea ng-switch-when="textarea" type="text" ng-model="getLocalAspectFieldValue(aspect, field)" id="{{getFieldId(aspect, field)}}" name="{{getFieldId(aspect, field)}}" placeholder="{{field.defaultValue}}" />

                            <input ng-switch-when="number" type="number" ng-model="getLocalAspectFieldValue(aspect, field)" id="{{getFieldId(aspect, field)}}" name="{{getFieldId(aspect, field)}}" placeholder="{{field.defaultValue}}" />

                            <yg-date ng-switch-when="date" ng-model="getLocalAspectFieldValue(aspect, field)" id="{{getFieldId(aspect, field)}}" name="{{getFieldId(aspect, field)}}"></yg-date>

                            <yg-datetime ng-switch-when="datetime" ng-model="getLocalAspectFieldValue(aspect, field)" id="{{getFieldId(aspect, field)}}" name="{{getFieldId(aspect, field)}}"></yg-datetime>

                        </ng-switch>

                    </div>
                </div>
            </div>
        </div>
    </yg-drop-target>
</section>