<section id="edit-type" class="edit-screen" ng-controller="EditTypeCtrl">

    <div class="section-header">
        <div class="icon" ng-bind-html-unsafe="type.icon"></div>
        <h3 ng-show="!editName" ng-click="toggleEditName()">{{type.name}}</h3>
        <h3 ng-show="editName"><input type="text" ng-blur="toggleEditName()" name="type-name" id="type-name" yg-model-object="type" yg-model-property="name"/></h3>
    </div>

    <div class="section-body">
        <div ng-repeat="field in type.fields">
            <label for="field-name-{{$index}}">{{resourceBundle().FIELD}}</label>
            <input type="text" id="field-name-{{$index}}" yg-model-object="field" yg-model-property="name" />

            <label for="field-type-{{$index}}">{{resourceBundle().FIELD_TYPE}}</label>
            <select id="field-type-{{$index}}" ng-model="field.type" ng-options="fieldType for fieldType in type.getFieldTypes()"></select>

            <label for="default-text-{{$index}}">{{resourceBundle().DEFAULT}}</label>
            <input type="text" id="default-text-{{$index}}" yg-model-object="field" yg-model-property="defaultValue" />

            <button ng-click="deleteField(field)">x</button>
        </div>
        
        <button ng-click="addField()">+</button>
    </div>

</section>