<section id="elements-list" ng-controller="ElementsListCtrl">

    <div class="section-header">

    </div>

    <div class="section-body">

        <div class="list-title">
            <h5>Events</h5>
            <button>hi</button>
        </div>
        <div class="list">
            <div class="list-header">hi there</div>
            <div class="list-body">
                <ul>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li><li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li><li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>
                    <li>Event Name</li>

                </ul>
            </div>
        </div>

        <div class="list-title">
            <h5>Types</h5>
            <button>hi</button>
        </div>
        <div class="list">
            <div class="list-header">hi there</div>
            <div class="list-body">
                <ul>
                    <li>Type Name</li>
                </ul>
            </div>
        </div>

        <div class="list-title">
            <h5>Aspects</h5>
            <button>hi</button>
        </div>
        <div class="list">
            <div class="list-header">hi there</div>
            <div class="list-body">
                <ul>
                    <li>Aspect Name</li>
                </ul>
            </div>
        </div>

    </div>
</section>