<section id="elements-list" ng-controller="ElementsListCtrl">

    <div class="section-header">

    </div>

    <div class="section-body">

        <div class="list-title">
            <h5>{{resourceBundle().EVENTS}}</h5>
            <button>hi</button>
        </div>
        <div class="list" id="list-events">
            <div class="list-header">
                <div></div>
                <div>hi there</div>
            </div>
            <div class="list-body">
                <ul>
                    <li ng-repeat="event in events" ng-class="{selected: isSelected(event), 'selected-secondary': isSelectedSecondary(event)}" ng-click="selectElement(event)" draggable="true" yg-draggable>
                        {{event.name}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-title">
            <h5>{{resourceBundle().TYPES}}</h5>
            <button>hi</button>
        </div>
        <div class="list" id="list-types">
            <div class="list-header">
                <div></div>
                <div>hi there</div>
            </div>
            <div class="list-body">
                <ul>
                    <li ng-repeat="type in types" ng-class="{selected: isSelected(type), 'selected-secondary': isSelectedSecondary(type)}" ng-click="selectElement(type)" draggable="true" yg-draggable>
                        <div ng-bind-html-unsafe="type.icon"></div>
                        <div>{{type.name}}</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-title">
            <h5>{{resourceBundle().ASPECTS}}</h5>
            <button>hi</button>
        </div>
        <div class="list" id="list-aspects">
            <div class="list-header">
                <div></div>
                <div></div>
                <div>hi there</div>
            </div>
            <div class="list-body">
                <ul>
                    <li ng-repeat="aspect in aspects" ng-class="{selected: isSelected(aspect), 'selected-secondary': isSelectedSecondary(aspect)}" ng-click="selectElement(aspect)" draggable="true" yg-draggable>
                        <div ng-bind-html-unsafe="aspect.icon"></div>
                        <div ng-bind-html-unsafe="aspect.icon" ng-style="{'color': aspect.color}"></div>
                        <div>{{aspect.name}}</div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>