<section id="elements-list" ng-controller="ElementsListCtrl">

    <div class="section-header">

    </div>

    <div class="section-body" yg-accordion yg-accordion-header=".list-title" yg-accordion-height-style="fill">

        <div class="list-title">
            <h5>{{resourceBundle().EVENTS}}</h5>
            <button ng-click="newEvent()">+</button>
        </div>
        <div class="list" id="list-events">
            <div class="list-header" yg-sortable-header yg-sort-var="sortEvents" yg-sort-reverse="sortEventsReverse">
                <yg-sortable yg-sort-property="name">Name</yg-sortable>
                <yg-sortable yg-sort-property="start">Start</yg-sortable>
                <yg-sortable yg-sort-property="end">End</yg-sortable>
            </div>
            <div class="list-body">
                <ul>
                    <li ng-repeat="event in events | orderBy:sortEvents:sortEventsReverse" class="event" ng-class="{selected: event.isSelected(), 'selected-secondary': event.isSelectedSecondary()}" ng-click="selectElement(event)" draggable="true" yg-draggable data-yg-drag-id="{{event.id}}">
                        <div class="sortable">
                            {{event.name}}
                        </div>
                        <div class="sortable">
                            {{event.start}}
                        </div>
                        <div class="sortable">
                            {{event.end}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-title">
            <h5>{{resourceBundle().TYPES}}</h5>
            <button ng-click="newType()">+</button>
        </div>
        <div class="list" id="list-types">
            <div class="list-header">
                <div></div>
                <div>hi there</div>
            </div>
            <div class="list-body">
                <ul>
                    <li ng-repeat="type in types" class="type" ng-class="{selected: type.isSelected(), 'selected-secondary': type.isSelectedSecondary()}" ng-click="selectElement(type)" draggable="true" yg-draggable data-yg-drag-id="{{type.id}}">
                        <div ng-bind-html-unsafe="type.icon"></div>
                        <div>{{type.name}}</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-title">
            <h5>{{resourceBundle().ASPECTS}}</h5>
            <button ng-click="newAspect()">+</button>
        </div>
        <div class="list" id="list-aspects">
            <div class="list-header">
                <div></div>
                <div></div>
                <div>hi there</div>
            </div>
            <div class="list-body">
                <ul>
                    <li ng-repeat="aspect in aspects" class="aspect" ng-class="{selected: aspect.isSelected(), 'selected-secondary': aspect.isSelectedSecondary()}" ng-click="selectElement(aspect)" draggable="true" yg-draggable data-yg-drag-id="{{aspect.id}}">
                        <div ng-bind-html-unsafe="aspect.getType().icon"></div>
                        <div ng-bind-html-unsafe="aspect.getType().icon" ng-style="{'color': aspect.color}"></div>
                        <div>{{aspect.name}}</div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>